@media (-webkit-min-device-pixel-ratio: 2) {
  .menu_button { 
	   background-image: url('../img/menu_button@2x.png');
	   background-size: 24px 24px;
   }
   
   .arr_button { 
	   background-image: url('../img/backicon@2x.png');
	   background-size: 24px 24px;
   }
   
   
   .header_line_content_search { 
	   background-image: url('../img/search_icon@2x.png');
	   background-size: 24px 24px;
   }
   
   .header_line_content_settings{
       background-image: url('../img/settings_icon@2x.png');
	   background-size: 24px 24px;
	}
	
	.opened_input{
		background: url('../img/close_white@2x.png');
		background-size: 24px 24px;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.news_box_exit_button{
		background-size: 24px 24px!important;
		background-position: center center!important;
		background-repeat: no-repeat!important;
		background:url('../img/close-circle@2x.png');		
	}
	
	.previos_info_circle{
	   background-image: url('../img/student_hat@2x.jpg');
	   background-size: 110px 82px;
	}
	
	.loading{
		background: url('../img/pre_animation@2x.gif') no-repeat center center,
					/* url('../img/preloader_2.jpg') no-repeat bottom center, */
					#058ae6;
		background-size: 64px 64px;
	}
	
	.authorisation_box_logo{
		background:url('../img/ugrasu_logo@2x.png') no-repeat;
		background-size:cover;
	}
	
	.sidebar_menu_block_back_arr{
		background:url('../img/arrow_black@2x.png');
		background-size: 24px 24px;
	}
	
	.main_item{
		background:url('../img/home_icon@2x.png') no-repeat left center;
		background-size: 24px 24px;
	}

	.pers_item{
		background:url('../img/person_icon@2x.png') no-repeat left center;
		background-size: 24px 24px;
	}

	.set_item{
		background:url('../img/settings_icon_bl@2x.png') no-repeat left center;
		background-size: 24px 24px;
	}

	.mes_item{
		background:url('../img/message_icon_bl@2x.png') no-repeat left center;
		background-size: 24px 24px;
	}

	.close_item{
		background:url('../img/close_icon@2x.png') no-repeat left center;
		background-size: 24px 24px;
	}

	.news_item{
		background:url('../img/news_icon_bl@2x.png') no-repeat left center;
		background-size: 24px 24px;
	}

	.timetable_item{
		background:url('../img/time_icon@2x.png') no-repeat left center;
		background-size: 24px 24px;
	}
	
	.menu_box_logo{
		background-size:100px 100px;
	}
	
	.header_line_content_calendar {
		background:url('../img/calendar@2x.png') no-repeat center center;
		background-size: 24px 24px;
	}
	
	.date_item_back {
		background: url('../img/back_bt@2x.png');
		background-repeat: no-repeat;
		background-size: 24px 24px;
	}

	.date_item_next {
		background: url('../img/forw_bt@2x.png');
		background-repeat: no-repeat;
		background-size: 24px 24px;
	}

	.man_student:after {
		background: url('../img/man_icon@2x.png') no-repeat center center;
		background-size: 40px 40px;
	}

	.girl_student:after {
		background: url('../img/woman_icon@2x.png') no-repeat center center;
		background-size: 40px 40px;
	}
}

