.loading:before{
	content:'Загрузка...';
	display:block;
	margin:0 auto;
	width:85px;
	color:white;
	padding-top:6px;
	opacity:0.9;
	font-family: "RobotoRegular", sans-serif;
}

.loading{
	background: url('../img/pre_animation.gif') no-repeat center 10%,
				url('../img/preloader_2.jpg') no-repeat bottom center,
				#058ae6;
}

.loading div{
	display:none;
}