@media screen and (min-width: 360px) {
	.date_item{
		padding:4px 2%;
	}
}

@media screen and (max-width: 359px) {
	.date_item{
		padding:4px 1%;
	}
}

@media screen and (max-width: 310px) {
	.date_item{
		padding:4px 1px;
	}
}

