* { 
  vertical-align: baseline; 
  font-weight: inherit; 
  font-family: inherit; 
  font-size: 100%; 
  border: 0 none; 
  outline: 0; 
  padding: 0; 
  margin: 0;  
} 

.unselected {
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.shadow{
   -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
       -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
            box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
}

.contr_shadow{
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}

html, body{
    height:100%;
	background:#f5f5f5;
	font-family: "RobotoLight", sans-serif; 
} 

.wrapper{
    max-width:1024px;
	min-width:240px;
	margin:0 auto;
	min-height:100%;
	background:#f1f1f1;
	overflow:hidden;
	position:relative;
}

/* .loading:before{
	content:'Загрузка...';
	display:block;
	margin:0 auto;
	width:85px;
	color:white;
	padding-top:6px;
	opacity:0.9;
	font-family: "RobotoRegular", sans-serif;
} */

.loading{
	background: url('../img/pre_animation.gif') no-repeat center center,
				/* url('../img/preloader_2.jpg') no-repeat bottom center, */
				#058ae6;
}

.loading div{
	display:none;
}

.header_line{
	background:#5677fc;
	color:white;
	height:54px;
	width:100%;
	max-width:1024px;
	min-width:240px;
	border-bottom:1px solid #4e6be3;
	position:fixed;
	z-index:999;
}

.header_line__content{
	width:100%;
	box-sizing:border-box;
} 

.header_line__helper{
    height:54px;
}

.header_line__content_title{
	line-height:54px;
}

.header_line__content_button{
   	height:54px;
	width:48px;
	margin-right:2px;
	float:left;
}

.menu_button{
	background:url('../img/menu_button.png');
	background-position:60% center;
	background-repeat:no-repeat;
}

.arr_button{
	background:url('../img/backicon.png');
	background-position:60% center;
	background-repeat:no-repeat;
}

.header_line_content_search, .header_line_content_settings{
	float:right;
	width:46px;
}

.header_line_content_settings{
	height:54px;
	background:url('../img/settings_icon.png');
	background-repeat:no-repeat;
	background-position:center center;
	display:none;
}

.header_line_content_search{
    height:54px;
	background:url('../img/search_icon.png');
	background-repeat:no-repeat;
	background-position:center center;
	display:none;
}

.header_line_content_settings:active, .header_line_content_search:active, .header_line__content_button:active{
	background-color:#3266d5;
} 

.header_line_addition_menu_item{
	width:32%;
	display:inline-block;
	background:#5677fc;
}

.header_line_addition_menu_item:active{
	background:#3266d5;
}

.current_item{
	border-bottom:3px solid white;
	height:43px;
	font-family:"RobotoRegular", sans-serif;
} 

.header_line_addition_wrapper{
	background:#5677fc;
	display:none;
}

.header_line_addition_menu{
    max-width:600px;
	height:46px;
	line-height:46px;
	text-align:center;
	margin:0 auto;
	font-size:14px;
	/* background:#5677fc; */
}

.authorisation_box{
	padding-top:86px;
	width:100%;
	max-width:400px;
	margin:0 auto;
	display:none;
}

.authorisation_box_form{
	margin:33px 10px 0px;
}

.authorisation_box_logo{
	background:url('../img/ugrasu_logo.png') no-repeat;
	height:120px;
	width:122px;
	margin:0 auto;
}

.authorisation_box_input{
	width:80%;
	display:block;
	max-width:300px;
	height:38px;
	margin:15px auto;
	padding:0px 10px;
	
}

.authorisation_box_passtext{
	display:inline-block;
	font-size:14px;
	padding-left:25px;
	padding-right:10px;
	font-family: "RobotoRegular", sans-serif;
	color:grey;
	font-style:italic;
}

.authorisation_box_submit, .authorisation_box_button{
	width:180px;
	height:36px;
	display:block;
	margin:15px auto;
	font-family: "RobotoRegular", sans-serif;
}

.authorisation_box_submit{
	margin-top:0px;
}

.authorisation_box_submit{
	background:#5677fc;
	color:white;
}

.authorisation_box_submit:active{
	background:#3266d5;
}

.authorisation_box_button{
	background:white;
	color:#1e88e5;
}

.authorisation_box_button:active{
	background:#dbdbdb;
}

.previos_info{
	width:100%;
	box-sizing:border-box;
	max-width:1024px;
	height:auto;
	background:white;
	color:#2c45aa;
	padding:73px 0px 18px;
	text-align:center;
	font-family: "RobotoRegular", sans-serif;
}

.previous_info_text{
	display:inline-block;
	text-align:center;
}

.previos_info_circle{
	height:130px;
	width:130px;
	background:#5677fc;
	background-image:url('../img/student_hat.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:65px;
	margin:0 auto;
	margin-bottom:5px;
} 

.content_box{
	width:100%;
	background:#f1f1f1;
	min-height:100%;
	box-sizing:border-box;
}

.content_box_menuitem{
	width:140px;
	height:130px;
	display:inline-block;
	background:white;
	margin:8px 5px;
	vertical-align:top;
	border-radius:3px;
	position:relative;
}

.content_box_menuitem img {
	opacity:0.85;
}

.content_box_menuitem:active img{
    opacity:1;
}

.content_box_menuitem:active .content_box_name_item{
  	background-color:#3266d5;
}

.content_box_name_item{
	background:#5677fc;
	color:white;
	height:40px;
	font-size:13px;
	position:absolute;
	bottom:0px;
	width:140px;
	line-height:40px;
	border-radius:3px;
}

.content_box_itemwrapper{
	text-align:center;
	font-family:"RobotoRegular", sans-serif; 
	margin:8px;
	margin-top:20px;
}

.pre_loader{
	width:100%;
	z-index:10000;
	max-width:1024px;
	height:100%;
	position:fixed;
	background: url('../img/pre_animation.gif') no-repeat center 60%,
				/* url('../img/preloader_2.jpg') no-repeat bottom center, */
				#058ae6;
	font-size:26px;
	font-family:"RobotoMedium", sans-serif; 
	color:rgba(255,255,255,0.85);
	padding-top:50px;
	text-align:center;
	box-sizing:border-box;
}

.overlay{
    display:none;
	width:100%;
	z-index:10000;
	max-width:1024px;
	height:100%;
	opacity:0.2;
	background:url('../img/pre_animation.gif') no-repeat center center,
	           black;
	position:fixed;
	
}

.menuoverlay{
	display:none;
	width:100%;
	z-index:10000;
	max-width:1024px;
	height:100%;
	opacity:0.6;
	background:black;
	position:fixed;
}
.news_box{
	padding:112px 10px 0px 10px;
	display:none;
}

.news_box_item{
	padding:10px;
	border-radius:2px;
	background:white;
	margin:12px 2px;
}

.news_box_item:active{
	background:#D4DAFC;
}

.news_box_item_title{
	font-weight:bold;
	color:#4F4F4F;
	font-size:18px;
	line-height:26px;
}

.news_box_item_image{
	width:85px;
	height:85px;
	float:left;
	background:grey;
	margin:5px 12px 5px 5px;
}

.news_box_item_text{
}

.tooltip{
	bottom:20px;
	position:fixed;
	margin:0 auto;
	display:none;
	width:200px;
	z-index:20000;
	background:rgba(0,0,0,0.75);
	color:white;
	border-radius:3px;
	font-size:14px;
	padding:5px;
	font-family:"RobotoMedium", sans-serif; 
	text-align:center;
	left:50%;
	box-sizing:border-box;
	margin-left:-100px;
}
.main_menu{
	display:none;
}

.authblock{
	display:inline-block;
}

.sidebar_menu_block{
	position:absolute;
	overflow:hidden;
	z-index:10000;
	width:83%;
	min-width:270px;
	max-width:350px;
	height:100%;
	background:white;
	background:#f5f5f5;
	display:block;
	margin-left:-270px;
}

.menu_box_logo{
	margin-top:20px;
	width:100px;
	height:100px;
	background-size:100px 100px;
}

.sidebar_menu_block_menu{
	box-sizing:border-box;
	margin:0 auto;
	margin-top:20px;
	padding-left:10px;
}

.sidebar_menu_block_back_arr{
	height:24px;
	width:24px;
	background:url('../img/arrow_black.png');
	position:absolute;
	margin:10px;
	opacity:0.6;
}

.sidebar_menu_block_back_arr:active{
	opacity:0.82;
}

.sidebar_menu_block_menu_item{
	list-style-type:none; 
	box-sizing:border-box;
	height:48px;
	width:100%;
	font-size:15px;
	font-family:"RobotoMedium", sans-serif;
	opacity:0.60;
	line-height:48px;
	padding-left:40px;
	border-bottom:1px solid #e8e8e8;
}

.sidebar_menu_block_menu_item:active{
	opacity:0.82;
}

.sidebar_menu_block_menu_item_curr{
	opacity:0.82;
}

.sidebar_wr{
	overflow-y:scroll;
	height:100%;
}

.main_item{
	background:url('../img/home_icon.png') no-repeat left center;
}

.pers_item{
	background:url('../img/person_icon.png') no-repeat left center;
}

.set_item{
	background:url('../img/settings_icon_bl.png') no-repeat left center;
}

.mes_item{
	background:url('../img/message_icon_bl.png') no-repeat left center;
}

.close_item{
	background:url('../img/close_icon.png') no-repeat left center;
}

.news_item{
	background:url('../img/news_icon_bl.png') no-repeat left center;
}

.timetable_item{
	background:url('../img/time_icon.png') no-repeat left center;
}