* { 
  vertical-align: baseline; 
  font-weight: inherit; 
  font-family: inherit; 
  font-family: "RobotoLight", sans-serif; 
  font-size: 100%; 
  border: 0 none; 
  outline: 0; 
  padding: 0; 
  margin: 0;  
} 

.unselected {
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.shadow{
   -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
       -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
            box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
}

html, body{
    height:100%;
	background:white;
} 

.wrapper{
    max-width:1024px;
	min-width:240px;
	margin:0 auto;
	height:100%;
	/* overflow-x:hidden; */
}

.header_line{
	background:#5677fc;
	color:white;
	height:54px;
	width:100%;
	max-width:1024px;
	min-width:240px;
	border-bottom:1px solid #4e6be3;
	position:fixed;
}
 
.header_line__content{
	padding-left:19px;
	display:table;
} 

.header_line__helper{
    height:54px;
	display: table-cell;
    vertical-align: middle;
}

.header_line__content_button{
	height:14px;
	margin-top:3px;
	margin-right:14px;
	width:18px;
	float:left;
	background:white;
}

.content_box{
	width:100%;
	background:#f1f1f1;
	height:100%;
}

.previos_info{
	width:100%;
	box-sizing:padding-box;
	max-width:1024px;
	position:fixed;
	height:auto;
	top:55px;
	background:white;
	color:#2c45aa;
	padding:18px 0px;
	text-align:center;
}

.previos_info_circle{
	height:130px;
	width:130px;
	background:#5677fc;
	background-image:url('../img/student_hat.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:65px;
	margin:0 auto;
	margin-bottom:5px;
} 