* { 
  vertical-align: baseline; 
  font-weight: inherit; 
  font-family: inherit; 
  font-size: 100%; 
  border: 0 none; 
  outline: 0; 
  padding: 0; 
  margin: 0;  
} 

.unselected {
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

.shadow{
   -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
       -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
            box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.3);
}

.contr_shadow{
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}

html, body{
    height:100%;
	background:white;
	font-family: "RobotoLight", sans-serif; 
} 

.wrapper{
    max-width:1024px;
	min-width:240px;
	margin:0 auto;
	min-height:100%;
	background:#f1f1f1;
}

.header_line{
	background:#5677fc;
	color:white;
	height:54px;
	width:100%;
	max-width:1024px;
	min-width:240px;
	border-bottom:1px solid #4e6be3;
	position:fixed;
	z-index:999;
}
 
.header_line__content{
	padding:0px 13px 0px 19px;
	width:100%;
	box-sizing:border-box;
	display:table;
} 

.header_line__helper{
    height:54px;
	display: table-cell;
    vertical-align: middle;
}

.header_line__content_button{
	height:12px;
	margin-top:5px;
	margin-right:14px;
	width:18px;
	float:left;
	background:url('../img/menu_button.png');
	background-repeat:no-repeat;
}

.header_line_content_search, .header_line_content_settings{
	float:right;
	margin:2px 7px;
}

/* .header_line__content_button:active{
	background:black;
} */

.header_line_content_settings{
	width:18px;
	height:18px;
	background:url('../img/settings_icon_2.png');
	background-repeat:no-repeat;
}

.header_line_content_search{
    width:18px;
	height:18px;
	background:url('../img/search_icon.png');
	background-repeat:no-repeat;
}

.previos_info{
	width:100%;
	box-sizing:border-box;
	max-width:1024px;
	height:auto;
	background:white;
	color:#2c45aa;
	padding:73px 0px 18px;
	text-align:center;
	font-family: "RobotoRegular", sans-serif;
}

.previos_info_circle{
	height:130px;
	width:130px;
	background:#5677fc;
	background-image:url('../img/student_hat.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:65px;
	margin:0 auto;
	margin-bottom:5px;
} 

.content_box{
	width:100%;
	background:#f1f1f1;
	min-height:100%;
	box-sizing:border-box;
	margin-top:25px;
}

.content_box_menuitem{
	width:140px;
	height:130px;
	display:inline-block;
	background:white;
	margin:8px 5px;
	vertical-align:top;
	border-radius:3px;
	position:relative;
}

.content_box_name_item{
	background:#5677fc;
	color:white;
	height:40px;
	font-size:13px;
	position:absolute;
	bottom:0px;
	width:140px;
	line-height:40px;
	border-radius:3px;
}

.content_box_itemwrapper{
	text-align:center;
	font-family:"RobotoRegular", sans-serif; 
}